@font-face {
  font-family: "playfair_displayregular";
  src:
    url("./fonts/playfairdisplay-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("./fonts/playfairdisplay-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src:
    url("./fonts/roboto-variablefont_wdthwght-webfont.woff2") format("woff2"),
    url("./fonts/roboto-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body p {
  color: rgb(99, 98, 98);
  font-size: 1.8rem;
  line-height: 1.4;
  font-family: "robotoregular";
}
/* now we want to give a shadow to the header image
*/

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
.headerImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background: conic-gradient(
    rgb(0, 153, 255) 70deg,
    white 70deg,
    white 230deg,
    rgb(0, 153, 255) 230deg,
    rgb(0, 153, 255) 360deg
  );
}
.imageContainer {
  position: relative;
}
.overlayImageText {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  font-family: "playfair_displayregular";
  font-size: 4rem;
  color: white;
  font-weight: 100;
  line-height: 1.2;
}
.headerImage {
  width: 80vw;
  height: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
/* about me container */

h2 {
  font-family: "playfair_displayregular";
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
}
.aboutMeContainer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.socialMediaImagesContainer {
  display: flex;
  gap: 1.5rem;
}
.socialMediaImage {
  width: 3rem;

  height: auto;
}
/* main */

main {
  padding: 2rem;
  margin-bottom: 6rem;
}

.mainHeading {
  margin-bottom: 2rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.projectContainer {
  width: 100%;
}
.projectScreenshot {
  width: 100%;
}
.projectNameAndLinksAndDescriptionContainer {
  padding: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.projectNameAndLinksContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  align-items: center;
}
h3 {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "playfair_displayregular";
}
.projectLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.projectLinksImage {
  width: 1.8rem;
  height: auto;
}
.projectDescription {
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-size: 1.2rem;
}
.footerContentContainer {
  background: rgb(0, 153, 255);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  font-size: 1rem;
  padding-bottom: 4rem;
}
.footerHeading {
  margin-top: 1rem;
}
footer p {
  overflow-wrap: break-word;
  color: white;
  font-size: 1.5rem;
}
.socialMediaLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footerSocialMediaImage {
  width: 3rem;
}
.footerImage {
  width: 100%;
  height: auto;
}
@media screen and (width>800px) and (width<=1400px) {
  * {
    padding: 0;
    margin: 0;
  }
  header {
    display: block;
    background: conic-gradient(
      rgb(0, 153, 255) 70deg,
      white 70deg,
      white 250deg,
      rgb(0, 153, 255) 250deg,
      rgb(0, 153, 255) 360deg
    );
  }
  .socialMediaImage {
    display: none;
  }
  .headerImage {
    width: 40vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
  .imageContainer {
    margin-top: 2rem;

    position: relative;
  }
  .headerImageContainer {
    display: block;
    width: 40vw;
    background: none;
    float: left;
    padding: 0;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 3rem;
  }
  .overlayImageText {
    position: absolute;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    text-wrap: none;
    top: 1rem;
    left: auto;
    right: -25rem;
    bottom: auto;
    white-space: nowrap;
  }
  .aboutMeContainer {
    /* margin-top: 12rem; */
    display: inline;
  }
  .aboutMeHeading {
    background: white;
    margin-top: 10rem;
    padding-top: 4rem;
    width: 80vw;
    margin-left: 10vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
  .headerDescription {
    width: 80vw;
    margin-left: 10vw;
    background: white;

    padding: 0 2rem;
    padding-top: 1rem;

    padding-bottom: 5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
  main {
    padding: 0;
    padding-bottom: 8rem;
  }
  .mainHeading {
    text-align: left;
    width: 80vw;
    margin: 0 10vw 2rem 10vw;
  }
  .projects-container {
    display: grid;
    width: 80vw;
    margin-left: 10vw;
    grid-template-columns: 1fr 1fr;
  }
  footer {
    display: flex;
    padding: 5vw;
    background: rgb(0, 153, 255);
  }
  .footerContentContainer {
    width: 60vw;
  }
  .footerImage {
    width: 30vw;
    height: 50vw;
    object-fit: cover;
    margin-top: 2rem;
  }
  .socialMediaLinks {
    justify-content: left;
  }
  .footerHeading {
    text-align: left;
    margin-top: 2rem;
  }
}
@media screen and (width>1400px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
      rgb(0, 153, 255) 80deg,
      white 80deg,
      white 260deg,
      rgb(0, 153, 255) 260deg,
      rgb(0, 153, 255) 360deg
    );
    border: 1px solid red;
    padding: 4rem;
  }
  .headerImageContainer {
    width: 35vw;
    border: 1px solid red;
    padding: 0;
    margin: 0;
    background: none;
    margin-top: 2rem;
  }
  .headerImage {
    width: 35vw;
    height: 700px;
  }

  .aboutMeContainer {
    display: flex;
    width: 45vw;
    padding: 0;
    background-color: white;
    align-items: baseline;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
  .aboutMeHeading {
    padding: 2rem;
    margin-top: 2rem;
    display: inline-block;
    text-align: left;
  }
  .headerDescription {
    padding: 2rem;
    padding-top: 0;
  }
  .socialMediaImagesContainer {
    padding-right: 2rem;
    padding-bottom: 2rem;
    align-self: flex-end;
  }
  main {
    padding: 0;
    padding-bottom: 8rem;
  }
  .mainHeading {
    text-align: left;
    width: 80vw;
    margin: 0 10vw 2rem 10vw;
  }
  .projects-container {
    display: grid;
    width: 80vw;
    margin-left: 10vw;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer {
    display: flex;
    padding: 5vw;
    background: rgb(0, 153, 255);
  }
  .footerContentContainer {
    width: 35vw;
  }
  .footerImage {
    width: 55vw;
    height: 50vw;
    object-fit: cover;
    margin-top: 2rem;
  }
  .socialMediaLinks {
    justify-content: left;
  }
  .footerHeading {
    text-align: left;
    margin-top: 2rem;
  }
}
